#print_container {
	height: 90%;
/* margin: 2vw; */
	padding: 2vw;
	
	background-color: var(--color-white);
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	
}
#grid_container {
	position: relative;
	display: grid;
	grid-template-columns: repeat(4, var(--box-size)); 
	grid-template-rows: repeat(4, var(--box-size));
}
.title_container {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;

}



.color_pallet {
	display: flex;
	
}

.color_pallet div {
	width: 1vw;
	height: 1vw;
	
}
